body {
    display: flow-root;
}

.ui.vertical.menu {
    position: fixed;
    top: 0;
    height: 100vh;
    margin: 0;
}

.menu>.item+.item, .right.menu>.item {
    height: 57px;
}

.ui.vertical.menu :first-child a {
    padding: 15px 10px;
}

.ui.vertical.inverted.menu .item:first-child {
    border-bottom: 1px solid #666;
}

.d-none {
    display: none !important;
}

.d-block {
    display: block;
}

.hide {
    visibility: hidden;
}

.ui.message {
    width: 400px;
    transition: 500ms;
    /* position: sticky; */
    left: 70vw;
    /* top: 100vh; */
    display: none;
    position: fixed;
    top: 80vh;
}

.ui.vertical.menu a {
    font-family: "Lato", monospace;
    font-size: 16px;
    display: flex !important;
    align-items: center;
    padding: 32px 20px;
}

.ui.vertical.menu a:first-child {
    font-size: 24px;
}

body>.ui.container {
    margin-left: 17rem !important;
    margin-top: 2rem;
}

.ui.vertical.inverted.menu .item:before {
    background: none;
}