.loading input {
    border: 1px solid #16ab39!important;
    border-radius: .28571429rem;
    color: transparent !important;
}

.loading span {
    position: absolute;
    height: 100%;
    width: 100%;
    line-height: 50px;
    color: #16ab39;
}

#table-wrapper {
    margin-top: 2rem;
    width: 1000px;
}

.modal-error {
    color: red;
    margin-top: 8px;
}

.loading input::placeholder {
    color: #16ab39 !important;
    font-weight: bold;
}

.search.icon::after {
    border-color: #16ab53 transparent transparent !important;
}

.ui.dimmer {
    background-color: rgba(0, 0, 2, 0.15);
}

.ui.modal {
    top: 14rem;
    width: 40%;
}

#modal-desc {
    font-size: 13px;
}

#user-img {
    width: 120px !important;
}

#user-card {
    width: 400px;
}

#user-card .header {
    margin-top: 10px;
}

#user-card .content {
    padding-bottom: 0;
}

.ui.cards {
    display: flex;
    justify-content: center;
    position: relative;
    top: -25px;
}

#return-qty {
    margin-left: 10px;
}