#buy-stepper-parent {
    display: none;
}

#user-img {
    width: 120px !important;
}

#user-card {
    width: 400px;
}

#user-card .header {
    margin-top: 10px;
}

#user-card .content {
    padding-bottom: 0;
}

.ui.cards {
    display: flex;
    justify-content: center;
    position: relative;
    top: -25px;
}

.step-body .ui.input {
    margin-right: 1rem;
}

#input-medicine, #input-qty {
    border-radius: .28571429rem !important;
    width: 210px;
}

#searchInput .ui.input {
    margin-right: 10px;
}

#select-qty .ui.input {
    margin-right: 10px;
}

#buy-stepper {
    width: 635px;
}

#input-qrcode {
    border: none;
    color: transparent;
}

#table-wrapper {
    padding: 0 100px;
}

.loading.button::after, .loading.button::before {
    left: 10% !important;
}

.loading.button {
    position: relative;
    top: -36px;
}

.loading.button+span {
    position: relative;
    top: -65px;
}

.results {
    animation-duration: 0s !important;
}

.step-body {
    width: 635px;
    display: inline-flex;
}

i.medrt.icon {
    font-size: 30px;
    display: contents;
}

i.medrt.icon::before {
    margin-right: 8px !important;
}

#buy-stepper {
    text-align: center;
    /* width: 100%; */
}