#trending-med, #trending-user {
    max-width: 75%;
    margin: auto;
    margin-bottom: 5rem;
}

#trending-user {
    max-width: 45%;
}

#trending-user-body img {
    max-width: 100px;
    margin-right: 30px;
}

#trending-user-body>tr>td {
    font-size: 20px;
}

#trending-user-body>tr>td>div {
    display: flex;
    align-items: center;
    font-size: 20px;
}

#myChart {
    position: relative;
}

.chart-container {
    max-width: 270px;
    position: relative;
    margin: auto;
    text-align: center;
    display: flex;
    left: -180px;
    margin-bottom: 40px;
}

.top-user-id {
    font-size: 15px;
    color: #555;
    margin-top: 7px;
}

.ui.statistic .value {
    margin-top: 70px;
}

.ui.statistic {
    min-width: 225px;
    margin-right: 50px;
}